#root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;

  --color-nodes: hsl(196, 100%, 95%);
  --color-nodes--active: hsl(196, 100%, 90%);

  --color-investigation: #ffd17a;
  --color-construction: #ff914d;
  --color-acceleration: #fa6bbc;
  --color-success: #0bffb3;
  --color-transfer: #1fbcff;
  --color-alumni: #aaa;

  --color-investigation--light: #ffe3ad;
  --color-construction--light: #ffb080;
  --color-acceleration--light: #fc9cd2;
  --color-success--light: #3effc3;
  --color-transfer--light: #52cbff;
  --color-alumni--light: #c3c3c3;

  --color-text-black: #333;
}

.node-label {
  font-size: 10px;
  color: var(--color-text-black);
  text-shadow: white 1px 1px 1px;
  font-weight: bold;
}

.subNode-label {
  color: var(--color-text-black);
  text-shadow: white 1px 1px 1px;
}

.subNode.active {
  stroke: #ffd745;
  stroke-width: 1px;
}

.hoverline:hover {
  xtext-decoration: underline !important;
}

svg {
  max-height: 90vh;
  max-width: 100%;
  width: 100%;
}

circle {
  opacity: inherit;
  cursor: pointer;
  transition: fill 0.2s ease-out;
}

.node.active {
  opacity: 1;
}

.node.inactive {
  opacity: 0;
}
